@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&family=Shrikhand&display=swap');
@import"libs/variables.scss";
@import"libs/mixins.scss";


body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    a{
      text-decoration: none;
    }
  }

  header{
   @include flexbox-center;
    height: 200px;

  .logo {
    width: 21%;
    img{
      width: 100%;
    }

  }

  a{
    width: 5%;
    height: 50px;

    .fa-arrow-left{
      font-size: 50px;
      color: $color2;
}

  }

}

.image{

   img{
   @include img-menu;
   }
}

#menu{
  width: 100%;
  @include flexbox-center;

  .menu{
  @include menu;

  .h2-heart{
  @include flexbox-between;
    font-family: 'Shrikhand', cursive;

.i-heart {
 @include i-heart-menu;

 .heart {
  @include heart-menu;
}

 .heart-full {
  @include heart-full;
}

.heart-empty {
  @include heart-empty;
}

 .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}

}



}

.menu-carte{
  display: flex;
  grid-gap: 100px;

  .menu-carte-entrée,.menu-carte-plat,.menu-carte-dessert{
    width: 29%;
    display: grid;
    grid-gap: 15px;

   
    .menu-carte-h3{
      h3{
        border-bottom: 3px solid $tertiaire;
        width: 12%;
        font-weight: lighter;
      }
    }

    .menu-carte-case{
      @include flexbox-between;
      @include carte-case;
    
     &:hover .box-rotative {
      @include flexbox-center;
      animation: slide-left 0.5s ease ;
      transform-origin: right;
  }

  &:hover .menu-case-prix {
      margin-right: 70px;
      transition: 0.5s ease ;
  }

  .box-rotative {
    @include box-rotative;
      i {
          @include i-box-rotative;
      }
  }

 

     .menu-case-h4-p-prix{
      width: 100%;
     @include flexbox-between;
     
        
     .menu-case-h4-p{
      margin-left: 5%;
      white-space: nowrap;
      overflow: hidden;
     
      .menu-case-h4{
        h4{
          text-overflow: ellipsis;
          overflow: hidden;
      }
      
      }

      .menu-case-p{
        p{
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: lighter;
        }
      }
     }

     .menu-case-prix {
      font-weight: bold;
      padding-right: 20px;
      padding-left: 7px;
  }

     }

    }
  }
}

.menu-case-button{
  @include flexbox-center;
  margin-bottom: 3%;

  .menu-button{
    @include flexbox-center;
    @include button-menu;
    &:hover{
      box-shadow: 0px 0px 10px $color;
      opacity: 90%;
    }

  }
}

}

}

@keyframes rotate {
  0% {
      transform: rotate(0);
}
100% {
      transform: rotate(360deg);
  }
}

@keyframes slide-left {
  0% {
            transform: scaleX(0);
  }
  100% {
            transform: scaleX(-50);
  }
}

@keyframes opacity {
  0% {
            opacity: 0;
  }
  100% {
            opacity: 1;
  }
}

.menu-carte-case {
    animation: opacity 1s both;
}

#case-1 {
  animation-delay: 0.1s;
}

#case-2 {
  animation-delay: 0.2s;
}

#case-3 {
  animation-delay: 0.3s;
}

#case-4 {
  animation-delay: 0.4s;
}

#case-5 {
  animation-delay: 0.5s;
}

#case-6 {
  animation-delay: 0.6s;
}

#case-7 {
  animation-delay: 0.7s;
}

#case-8 {
  animation-delay: 0.8s;
}

#case-9 {
  animation-delay: 0.9s;
}

footer {
    @include flexbox-around;
    @include footer;
  }
  
  .logo-footer {
    @include logo-footer;
  }
  
  footer p {
   @include p-footer;
  }






  /* *******************************************************************RESPONSIVE*********************************************************************** */

/* écran pc */
@media screen and (min-width: 1421px) and (max-width: 1721px){

  .menu{
    max-width: 90% !important;
}

.menu-carte{
  grid-gap: 64px !important;
}

.menu-carte-entrée,.menu-carte-plat,.menu-carte-dessert{
  width: 30% !important;
}

.menu-case-p{
  p{
   font-size: 90%;
  }
}
}

@media screen and (min-width: 1264px) and (max-width: 1420px) {
  .menu{
    max-width: 90% !important;
}

.menu-carte{
  grid-gap: 62px !important;
}

.menu-carte-entrée,.menu-carte-plat,.menu-carte-dessert{
  width: 31% !important;
}

.menu-case-h4{
  h4{
    font-size: 85%;
  }
}
.menu-case-p{
  p{
   font-size: 85%;
  }
}

.menu-case-prix{
  font-size: 85%;
}

}


@media screen and (min-width: 992px) and (max-width: 1263px){
  
  header a {
    height: 45px;
    .fa-arrow-left {
      font-size: 45px;
  }
}

  .logo {
    width: 30% !important;
}

  .menu{
    max-width: 90% !important;
}

.menu-carte{
  grid-gap: 20px !important;
}

.menu-carte-entrée,.menu-carte-plat,.menu-carte-dessert{
  width: 33% !important;
}

.menu-case-h4{
  h4{
    font-size: 70%;
  }
}
.menu-case-p{
  p{
   font-size: 70%;
  }
}

.menu-case-prix{
  font-size: 70%;
}

.box-rotative {
  width: 30px !important;
  i {
      font-size: 25px !important;
  }
}

footer {
  font-size: 70%;
}
}



/*tablettes*/
@media screen and (min-width: 768px) and (max-width: 991px){

  header a {
    padding-right: 8% !important;
}
  .logo {
    width: 38% !important;
    margin-right: 7% !important;
}

.image img {
  height: 300px !important;
}

.menu {
  max-width: 62% !important;
}

.menu-carte {
  grid-gap: 32px !important;
  flex-direction: column !important;
}

.menu-carte-entrée,.menu-carte-plat,.menu-carte-dessert{
  width: 100% !important;
 
}

.menu-case-h4-p-prix {
  font-size: 120% !important;
}

.box-rotative {
  width: 60px !important;
  i {
    font-size: 45px !important;
}
}

.menu-button {
  width: 40% !important;
  margin-top: 7% !important;
  font-size: 129% !important;
}

footer {
  font-size: 69%;
}
}




/*portable*/

@media screen and (min-width: 464px) and (max-width: 767px){

  header{
    height: 75px;
     a {
      height: 30px !important;
      margin-left: -22% !important;
  
      i {
        font-size: 30px !important;
    }
  }
  
  .logo {
    width: 45% !important;
    margin-left: 19% !important;
  }
  }
    .image img {
      height: 350px !important;
  }

  .menu {
    max-width: 100% !important;
    margin-top: -25% !important;
    height: 1500px !important;
}

  .menu-carte {
    grid-gap: 15px !important;
    flex-direction: column;
}

.menu-carte-entrée,.menu-carte-plat,.menu-carte-dessert{
  width: 100% !important;
}

.menu-button {
  width: 60% !important;
  margin-top: 15% !important;
  font-size: 120% !important;
}

footer {
  display: block;
  flex-direction: column;
  font-size: 85%;
  p{
    margin-left: 6% !important;
  }
}

}



@media screen and (max-width: 463px){

  header{
  height: 75px;
   a {
    height: 30px !important;
    margin-left: -22% !important;

    i {
      font-size: 30px !important;
  }
}

.logo {
  width: 45% !important;
  margin-left: 19% !important;
}
}
  .image img {
    height: 350px !important;
}




  .menu {
    max-width: 100% !important;
    margin-top: -25% !important;
    height: 1240px !important;
}

h2{
  font-size: 175%;
}
#menu .menu .h2-heart .i-heart .heart {
  width: 25px;
}
  .menu-carte {
    grid-gap: 15px !important;
    flex-direction: column;
}

.menu-carte-entrée,.menu-carte-plat,.menu-carte-dessert{
  width: 100% !important;
}

.menu-carte-case{
  font-size: 75%;
}

.box-rotative {
  width: 35px !important;
  i {
    font-size: 35px !important;
}
}

.menu-button {
  width: 60% !important;
  margin-top: 15% !important;
  font-size: 120% !important;
}

footer {
  display: block;
  flex-direction: column;
  font-size: 85%;
  p{
    margin-left: 6% !important;
  }
}
}