@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&family=Shrikhand&display=swap');

$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$color:grey;
$color1:white;
$color2:black;
$color3:rgb(235, 235, 235);
$color4:rgb(247 247 247);
$color5:rgb(192 192 192);
$color6:rgb(61, 59, 59);

body{
    margin: 0%;
    font-family: 'Raleway', sans-serif;
    a{
      text-decoration: none;
    }
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

  .logo {
    width: 21%;
    img{
      width: 100%;
    }

  }

  a{
    width: 5%;
    height: 50px;

    .fa-arrow-left{
      font-size: 50px;
      color: $color2;
}

  }

}

.image{

   img{
    width: 100%;
    height: 500px;
    object-fit: cover;
   }
}

#menu{
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu{
   width: 80%;
   height: 117%;
   margin-top: -5%;
   background: $color3;
   padding: 0 20px;
   border-radius: 30px 30px 0px 0px;

  .h2-heart{
    display: flex;
    justify-content: space-between;
    align-items: center;

.i-heart {
  display: flex;
  width: 40px;

 .heart {
  width: 40px;
  stroke-width: 30;
  stroke: $color2;
  fill: $color1;
  cursor: pointer;
}

 .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}

.heart-empty {
  width: 60px;
  position: relative;
}

 .heart-empty:hover {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

}

}

.menu-carte{
  display: flex;
  grid-gap: 100px;

  .menu-carte-entrée,.menu-carte-plat,.menu-carte-dessert{
    width: 29%;
    display: grid;
    grid-gap: 15px;

    .menu-carte-h3{
      h3{
        border-bottom: 3px solid $tertiaire;
        width: 12%;
      }
    }

    .menu-carte-case{
     position: relative;
     cursor: pointer;
     overflow: hidden;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     border-radius: 15px;
     background-color: white;
     box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 10%);

     .menu-case-h4-p-prix{
      width: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     justify-content: space-between;
     align-items: center;

     .menu-case-h4-p{
      margin-left: 5%;
      white-space: nowrap;
      overflow: hidden;

      .menu-case-h4{
        h4{
        text-overflow: ellipsis;
        overflow: hidden;
      }
      }

      .menu-case-p{
        p{
         text-overflow: ellipsis;
         overflow: hidden;
        }
      }
     }

     .menu-case-prix {
      padding-right: 20px;
      font-weight: bold;
      padding-left: 7px;
  }

     }

    }
  }
}

.menu-case-button{
  display: flex;
  justify-content: center;
  align-items: center;

  .menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $color1;
    width: 15%;
    height: 50px;
    margin-top: 4%;
    font-size: 100%;
    border-radius: 24px;
    background-image: linear-gradient(to bottom ,$secondaire,$primaire);
    box-shadow: 0px 0px 6px $color;
    &:hover{
      box-shadow: 0px 0px 10px $color;
      opacity: 90%;
    }

  }
}

}

}



footer {
    background-color: $color6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0% 5% 0%;
  }
  
  .logo-footer {
    font-family: 'Shrikhand', cursive;
    font-size: 250%;
  }
  
  footer p {
    color: $color1;
    font-size: 140%;
  }