@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&family=Shrikhand&display=swap");
body {
  margin: 0%;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
header .logo {
  width: 21%;
}
header .logo img {
  width: 100%;
}
header a {
  width: 5%;
  height: 50px;
}
header a .fa-arrow-left {
  font-size: 50px;
  color: black;
}

.image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu .menu {
  width: 100%;
  max-width: 80%;
  height: 117%;
  margin-top: -5%;
  background: #F6F6F6;
  padding: 20px 20px;
  border-radius: 50px 50px 0px 0px;
}
#menu .menu .h2-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
}
#menu .menu .h2-heart .i-heart {
  display: flex;
  width: 40px;
}
#menu .menu .h2-heart .i-heart .heart {
  width: 40px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
#menu .menu .h2-heart .i-heart .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
#menu .menu .h2-heart .i-heart .heart-empty {
  width: 60px;
  position: relative;
}
#menu .menu .h2-heart .i-heart .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}
#menu .menu .menu-carte {
  display: flex;
  grid-gap: 100px;
}
#menu .menu .menu-carte .menu-carte-entrée, #menu .menu .menu-carte .menu-carte-plat, #menu .menu .menu-carte .menu-carte-dessert {
  width: 29%;
  display: grid;
  grid-gap: 15px;
}
#menu .menu .menu-carte .menu-carte-entrée .menu-carte-h3 h3, #menu .menu .menu-carte .menu-carte-plat .menu-carte-h3 h3, #menu .menu .menu-carte .menu-carte-dessert .menu-carte-h3 h3 {
  border-bottom: 3px solid #99E2D0;
  width: 12%;
  font-weight: lighter;
}
#menu .menu .menu-carte .menu-carte-entrée .menu-carte-case, #menu .menu .menu-carte .menu-carte-plat .menu-carte-case, #menu .menu .menu-carte .menu-carte-dessert .menu-carte-case {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
#menu .menu .menu-carte .menu-carte-entrée .menu-carte-case:hover .box-rotative, #menu .menu .menu-carte .menu-carte-plat .menu-carte-case:hover .box-rotative, #menu .menu .menu-carte .menu-carte-dessert .menu-carte-case:hover .box-rotative {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
#menu .menu .menu-carte .menu-carte-entrée .menu-carte-case:hover .menu-case-prix, #menu .menu .menu-carte .menu-carte-plat .menu-carte-case:hover .menu-case-prix, #menu .menu .menu-carte .menu-carte-dessert .menu-carte-case:hover .menu-case-prix {
  margin-right: 70px;
  transition: 0.5s ease;
}
#menu .menu .menu-carte .menu-carte-entrée .menu-carte-case .box-rotative, #menu .menu .menu-carte .menu-carte-plat .menu-carte-case .box-rotative, #menu .menu .menu-carte .menu-carte-dessert .menu-carte-case .box-rotative {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
  width: 50px;
}
#menu .menu .menu-carte .menu-carte-entrée .menu-carte-case .box-rotative i, #menu .menu .menu-carte .menu-carte-plat .menu-carte-case .box-rotative i, #menu .menu .menu-carte .menu-carte-dessert .menu-carte-case .box-rotative i {
  font-size: 40px;
  color: white;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}
#menu .menu .menu-carte .menu-carte-entrée .menu-carte-case .menu-case-h4-p-prix, #menu .menu .menu-carte .menu-carte-plat .menu-carte-case .menu-case-h4-p-prix, #menu .menu .menu-carte .menu-carte-dessert .menu-carte-case .menu-case-h4-p-prix {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu .menu .menu-carte .menu-carte-entrée .menu-carte-case .menu-case-h4-p-prix .menu-case-h4-p, #menu .menu .menu-carte .menu-carte-plat .menu-carte-case .menu-case-h4-p-prix .menu-case-h4-p, #menu .menu .menu-carte .menu-carte-dessert .menu-carte-case .menu-case-h4-p-prix .menu-case-h4-p {
  margin-left: 5%;
  white-space: nowrap;
  overflow: hidden;
}
#menu .menu .menu-carte .menu-carte-entrée .menu-carte-case .menu-case-h4-p-prix .menu-case-h4-p .menu-case-h4 h4, #menu .menu .menu-carte .menu-carte-plat .menu-carte-case .menu-case-h4-p-prix .menu-case-h4-p .menu-case-h4 h4, #menu .menu .menu-carte .menu-carte-dessert .menu-carte-case .menu-case-h4-p-prix .menu-case-h4-p .menu-case-h4 h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}
#menu .menu .menu-carte .menu-carte-entrée .menu-carte-case .menu-case-h4-p-prix .menu-case-h4-p .menu-case-p p, #menu .menu .menu-carte .menu-carte-plat .menu-carte-case .menu-case-h4-p-prix .menu-case-h4-p .menu-case-p p, #menu .menu .menu-carte .menu-carte-dessert .menu-carte-case .menu-case-h4-p-prix .menu-case-h4-p .menu-case-p p {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: lighter;
}
#menu .menu .menu-carte .menu-carte-entrée .menu-carte-case .menu-case-h4-p-prix .menu-case-prix, #menu .menu .menu-carte .menu-carte-plat .menu-carte-case .menu-case-h4-p-prix .menu-case-prix, #menu .menu .menu-carte .menu-carte-dessert .menu-carte-case .menu-case-h4-p-prix .menu-case-prix {
  font-weight: bold;
  padding-right: 20px;
  padding-left: 7px;
}
#menu .menu .menu-case-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
#menu .menu .menu-case-button .menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  width: 15%;
  height: 50px;
  margin-top: 4%;
  font-size: 100%;
  border-radius: 24px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 0px 0px 6px grey;
}
#menu .menu .menu-case-button .menu-button:hover {
  box-shadow: 0px 0px 10px grey;
  opacity: 90%;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-carte-case {
  animation: opacity 1s both;
}

#case-1 {
  animation-delay: 0.1s;
}

#case-2 {
  animation-delay: 0.2s;
}

#case-3 {
  animation-delay: 0.3s;
}

#case-4 {
  animation-delay: 0.4s;
}

#case-5 {
  animation-delay: 0.5s;
}

#case-6 {
  animation-delay: 0.6s;
}

#case-7 {
  animation-delay: 0.7s;
}

#case-8 {
  animation-delay: 0.8s;
}

#case-9 {
  animation-delay: 0.9s;
}

footer {
  background-color: rgb(61, 59, 59);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 0% 5% 0%;
}

.logo-footer {
  font-family: "Shrikhand", cursive;
  font-size: 250%;
}

footer p {
  color: white;
  font-size: 140%;
}

/* *******************************************************************RESPONSIVE*********************************************************************** */
/* écran pc */
@media screen and (min-width: 1421px) and (max-width: 1721px) {
  .menu {
    max-width: 90% !important;
  }

  .menu-carte {
    grid-gap: 64px !important;
  }

  .menu-carte-entrée, .menu-carte-plat, .menu-carte-dessert {
    width: 30% !important;
  }

  .menu-case-p p {
    font-size: 90%;
  }
}
@media screen and (min-width: 1264px) and (max-width: 1420px) {
  .menu {
    max-width: 90% !important;
  }

  .menu-carte {
    grid-gap: 62px !important;
  }

  .menu-carte-entrée, .menu-carte-plat, .menu-carte-dessert {
    width: 31% !important;
  }

  .menu-case-h4 h4 {
    font-size: 85%;
  }

  .menu-case-p p {
    font-size: 85%;
  }

  .menu-case-prix {
    font-size: 85%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1263px) {
  header a {
    height: 45px;
  }
  header a .fa-arrow-left {
    font-size: 45px;
  }

  .logo {
    width: 30% !important;
  }

  .menu {
    max-width: 90% !important;
  }

  .menu-carte {
    grid-gap: 20px !important;
  }

  .menu-carte-entrée, .menu-carte-plat, .menu-carte-dessert {
    width: 33% !important;
  }

  .menu-case-h4 h4 {
    font-size: 70%;
  }

  .menu-case-p p {
    font-size: 70%;
  }

  .menu-case-prix {
    font-size: 70%;
  }

  .box-rotative {
    width: 30px !important;
  }
  .box-rotative i {
    font-size: 25px !important;
  }

  footer {
    font-size: 70%;
  }
}
/*tablettes*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  header a {
    padding-right: 8% !important;
  }

  .logo {
    width: 38% !important;
    margin-right: 7% !important;
  }

  .image img {
    height: 300px !important;
  }

  .menu {
    max-width: 62% !important;
  }

  .menu-carte {
    grid-gap: 32px !important;
    flex-direction: column !important;
  }

  .menu-carte-entrée, .menu-carte-plat, .menu-carte-dessert {
    width: 100% !important;
  }

  .menu-case-h4-p-prix {
    font-size: 120% !important;
  }

  .box-rotative {
    width: 60px !important;
  }
  .box-rotative i {
    font-size: 45px !important;
  }

  .menu-button {
    width: 40% !important;
    margin-top: 7% !important;
    font-size: 129% !important;
  }

  footer {
    font-size: 69%;
  }
}
/*portable*/
@media screen and (min-width: 464px) and (max-width: 767px) {
  header {
    height: 75px;
  }
  header a {
    height: 30px !important;
    margin-left: -22% !important;
  }
  header a i {
    font-size: 30px !important;
  }
  header .logo {
    width: 45% !important;
    margin-left: 19% !important;
  }

  .image img {
    height: 350px !important;
  }

  .menu {
    max-width: 100% !important;
    margin-top: -25% !important;
    height: 1500px !important;
  }

  .menu-carte {
    grid-gap: 15px !important;
    flex-direction: column;
  }

  .menu-carte-entrée, .menu-carte-plat, .menu-carte-dessert {
    width: 100% !important;
  }

  .menu-button {
    width: 60% !important;
    margin-top: 15% !important;
    font-size: 120% !important;
  }

  footer {
    display: block;
    flex-direction: column;
    font-size: 85%;
  }
  footer p {
    margin-left: 6% !important;
  }
}
@media screen and (max-width: 463px) {
  header {
    height: 75px;
  }
  header a {
    height: 30px !important;
    margin-left: -22% !important;
  }
  header a i {
    font-size: 30px !important;
  }
  header .logo {
    width: 45% !important;
    margin-left: 19% !important;
  }

  .image img {
    height: 350px !important;
  }

  .menu {
    max-width: 100% !important;
    margin-top: -25% !important;
    height: 1240px !important;
  }

  h2 {
    font-size: 175%;
  }

  #menu .menu .h2-heart .i-heart .heart {
    width: 25px;
  }

  .menu-carte {
    grid-gap: 15px !important;
    flex-direction: column;
  }

  .menu-carte-entrée, .menu-carte-plat, .menu-carte-dessert {
    width: 100% !important;
  }

  .menu-carte-case {
    font-size: 75%;
  }

  .box-rotative {
    width: 35px !important;
  }
  .box-rotative i {
    font-size: 35px !important;
  }

  .menu-button {
    width: 60% !important;
    margin-top: 15% !important;
    font-size: 120% !important;
  }

  footer {
    display: block;
    flex-direction: column;
    font-size: 85%;
  }
  footer p {
    margin-left: 6% !important;
  }
}

/*# sourceMappingURL=menus.css.map */
